.defaults {
  padding: 17px 0 0 0;

  &__title {
    padding: 2px 0px 19px 41px;
    border-bottom: 1px solid #eaeaea;

    &:before {
      top: 6px;
      left:15px;
    }

    &_open {
      border-bottom: none;
      padding-bottom: 0;
    }

    &_2 {
      padding-top: 18px;
      &:before {
        top: 22px;
      }
    }
  }

  &__wrap-1 {
    display: none;
    width: 100%;
    padding-top: 18px;
    padding-left: 21px;
    padding-bottom: 18px;
    margin-bottom: 11px;
  }

  &__res {
    margin-bottom: 31px;
    p {
      margin-bottom: 19px;
      &:last-child {
        margin-bottom: 0;
      }
    }  
  }

  &__res-title, &__business-title {
    padding-left: 14px;
    margin-bottom: 8px !important;
    color: #949ba3;
    font-family: montserrat-bold;
    font-size: 11px;
  }

  &__business {
    p {
      margin-bottom: 19px;
      &:last-child {
        margin-bottom: 0;
      }
    }  
  }

  &__wrap-2 {
    padding: 16px 0 0 21px;
  }

  label {
    color: #777;
    font-family: montserrat-light;
    font-size: 14px;
  }

  &__text {
    margin: 0 0 9px 0;
  }

  &__inp {
    width: 337px !important;
  }

  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
}