.dropdown {

  &__title {
    position: relative;
    padding: 18px 33px;
    @include montserrat-bold;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-top: 1px solid #eaeaea;

    &:first-child { border: none }

    &:before{
      @include absoluteCenterY();
      left: 0;
      width: 7px;
      height: 7px;
      margin: -3px 0 0 5px;
      border-right: 2px solid #000;
      border-bottom: 2px solid #000;
      transform: rotate(-45deg);
      transform-origin: center;
      transition: transform .15s linear;
      content: '';
    }

    &.active:before {
      transform: rotate(45deg);
    }

    &.active + .dropdown__wrap {
      //height: 332px;
      //display: block;
    }
  }

  &__wrap {
    position: relative;
    overflow: hidden;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    display: none;
    //height: 0;
    //transition: height .3s linear;
  }

  .ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background: #222222 !important;
  }

  .ps-container > .ps-scrollbar-y-rail:after {
    background: #b1b9c3;
  }
}