.nice-checkbox {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 16px;
  user-select: none;

  input[ type = checkbox ] {
    position: absolute;
    clip: rect(0, 0, 0, 0);

    &:checked + label {

      &:before {
        display: block;
      }

    }

    &:disabled + label {
      cursor: default;
      opacity: .5;
    }

  }
  label {
    position: relative;
    text-align: left;
    height: 20px;
    padding-left: 18px;
    font-size: 12px;
    line-height: 14px;
    color: #222222;
    cursor: pointer;
    @include lato();

    &:after,
    &:before {
      position: absolute;
      content: '';
    }

    &:after {
      top: 3px;
      left: 0;
      width: 8px;
      height: 8px;
      border: 1px solid #222222;
    }

    &:before {
      display: none;
      top: 5px;
      left: 4px;
      height: 4px;
      width: 2px;
      border-top: 1px solid #222222;
      border-left: 1px solid #222222;
      -webkit-transform: rotate(-133deg);
      transform: rotate(-133deg);
    }

  }

}