.popup {
  display: block;
  opacity: 0;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 10000;
  padding-top: 40px;
  padding-bottom: 40px;
  background: $popup-back;
  text-align: center;
  transition: opacity 500ms ease-in-out;
  //@include main-font1();

  &_opened {
    opacity: 1;
    width: 100%;
    height: 100%;
  }

  &_hide {
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &__wrap {
    position: relative;
    z-index: 2;
    width: 1050px;
    margin: 0 auto;

  }

  &__content {
    display: none;
    text-align: left;
    background: #fff;
    border: 1px solid #b7b7b7;

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 11px 21px;
    }
  }

  &__close{
    position: absolute;
    top: -24px;
    right: -32px;
    width: 26px;
    height: 26px;
    z-index: 1;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;

    &:after,
    &:before {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 14px;
      height: 1px;
      background: $popup-close-back;
      transform-origin: center;
      content: '';
    }

    &:after{
      transform: translateX( -50% ) translateY( -50% ) rotate( 45deg );
    }

    &:before {
      transform: translateX( -50% ) translateY( -50% ) rotate( -45deg );
    }

    &:hover {
      opacity: 0.8;
    }

  }

  &__close-inside {
    position: absolute;
    top: 16px;
    width: 24px;
    height: 24px;
    right: 16px;
    z-index: 1;
    font-size: 24px;
    text-align: center;
    @include main-font6();
    color: #000;
    text-transform: uppercase;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      background-position: 0 bottom;
    }
  }

  &__scrollbar-measure {
    overflow: scroll;
    position: absolute;
    top: -9999px;
    width: 100px;
    height: 100px;
  }

  &__title{
    margin: 0 25px 15px;
    @include montserrat-bold;
    font-size: 14px;
    text-transform: uppercase;

    &:before{
      display: inline-block;
      position: relative;
      top: -3px;
      width: 6px;
      height: 6px;
      border-right: 3px solid #000;
      border-bottom: 3px solid #000;
      margin-right: 12px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      content: '';
    }

  }

  &__note{
    margin: 0 23px 8px;
    @include lato;
    font-size: 14px;

    &:before{
      display: inline-block;
      position: relative;
      top: -2px;
      width: 23px;
      height: 23px;
      margin-right: 22px;
      background-image: url(../img/icon-warning.png);
      vertical-align: middle;
      content: '';
    }

  }

}

.popup_2 {
  z-index: 10001;

  .popup__wrap {
    width: 852px;
  }

}

.popup_plans {

  .popup__wrap {
    width: 540px;
  }

  .popup__content {
    padding: 20px;
  }
}