.site {
  position: relative;
  overflow: hidden;
  min-width: 1000px;
  min-height: 100%;
  @include montserrat-regular();
  background: url(../img/bg-site.jpg) no-repeat center;
  background-size: cover;
}

