.steps {
  min-width: 100%;
  margin: -1px -1px 20px;
  @include montserrat-regular();

  div {
    @include flexbox();
    @include flex-direction();
    @include align-items(stretch);
    @include justify-content(space-between);
    background: #fff;
  }

  span,
  a {
    position: relative;
    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
    width: 25%;
    height: 50px;
    padding: 16px 10px;
    font-size: 15px;
    line-height: 18px;
    border-top: 1px solid #969da5;
    border-bottom: 1px solid #969da5;
    color: #969da5;
    text-align: center;

    &:first-child {
      border-left: 1px solid #969da5;
    }
    &:last-child {
      border-right: 1px solid #969da5;

      &:before,
      &:after {
        display: none;
      }

    }

    &:before,
    &:after{
      position: absolute;
      right: 0;
      height: 56%;
      border-left: 1px solid #969da5;
      background: #969da5;
      content: '';
    }

    &:before {
      top: 0;
      transform: rotate(-25deg);
      transform-origin: top left;
    }
    &:after {
      bottom: 0;
      transform: rotate(25deg);
      transform-origin: bottom left;
    }

    &.active {
      color: #fd8c25;
      border-color: #fd8c25;
      cursor: default;

      &:before ,
      &:after {
        border-left-color: #fd8c25;
      }

    }

  }

}