@font-face {
  font-family: "campton-light";
  src: url("../fonts/campton-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "campton-bold";
  src: url("../fonts/campton-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
