@font-face {
  font-family: "montserrat-extralight";
  src: url("../fonts/montserrat-extralight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-light";
  src: url("../fonts/montserrat-light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../fonts/montserrat-bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}